@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

// variables 
:root {
    --prPink: hsl(322, 100%, 66%);
    --prLightPink: hsl(321, 100%, 78%);
    --prRed: hsl(0, 100%, 63%);
    --veryDarkCyan: hsl(192, 100%, 9%);
    --veryPaleBlue: hsl(207, 100%, 98%);
}

// mixins 
@mixin media-large {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
}

.container {
    @include media-large() {
        max-width: 120rem;
    }
    max-width: 35rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.header {
    margin-top: 3rem;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        @include media-large() {
            max-height: 3rem;
        }
        max-height: 2rem;
    }

    &__btn {
        display: inline-block;
        padding: .2rem 2rem;
        color: var(--prRed);
        border: 1px solid var(--prRed);
        border-radius: 3rem;
    }
}

a {
    text-decoration: none;
}

.btn {
    background-color: var(--prPink);
    color: white;
    display: inline-block;
    padding: 1rem 4rem;
    border-radius: 3rem;
}

.main {
    margin-top: 12rem;
    &__content {
        text-align: center;
    }

    &__title {
        @include media-large() {
            font-size: 3rem;
        }
        font-size: 2.5rem;
        line-height: 1.3;
    }

    &__desc {
        @include media-large() {
            padding: 0 35rem;
        }
        margin-top: 2rem;
        margin-bottom: 5rem;
        font-size: 1.5rem;
    }

    &__btn {
        margin-bottom: 10rem;
    }

    &__img {
        margin: 0 auto;
    }

    &__flex-wrapper {
        @include media-large() {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-content: center;
            justify-content: center;
            align-items: center;
            justify-items: center;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
    }

    &__flex-item {
        @include media-large() {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        width: 50%;

        & + & {
            @include media-large() {
                margin-top: 0;
            }
            margin-top: 5rem;
        }
    }

    &__flex-logo {
        @include media-large() {
            transform: translateX(-5rem);
        }
        max-height: 3rem;
    }

    &__flex-title {
        text-align: left;
        font-size: 5rem;
    }

    &__flex-desc {
        color: rgba($color: #000000, $alpha: .5);
    }
}

.cards {

    &__content {

    }

    &__card {
        &:first-child {
            background-image: url("../images/bg-section-top-mobile-1.svg"), url("../images/bg-section-bottom-mobile-1.svg");
            background-repeat: no-repeat, no-repeat;
            background-position: center top, center bottom;
            position: relative;
        }

        &:first-child::before {
            content: '';
            position: absolute;
            top: 10.9rem;
            bottom: 5rem;
            left: 0;
            right: 0;
            z-index: -10;
            background-color: var(--veryPaleBlue);
        }

        &:nth-child(3) {
            background-image: url("../images/bg-section-top-mobile-2.svg"), url("../images/bg-section-bottom-mobile-2.svg");
            background-repeat: no-repeat, no-repeat;
            background-position: center top, center bottom;
            position: relative;
        }

        &:nth-child(3)::before {
            content: '';
            position: absolute;
            top: 10rem;
            bottom: 10rem;
            left: 0;
            right: 0;
            z-index: -10;
            background-color: var(--veryPaleBlue);
        }

        padding: 15rem 3rem;
        & + & {
            margin-top: 2rem;
        }
    }

    &__img {
        width: 80%;
        margin: 0 auto;
    }

    &__text {
        text-align: center;
    }

    &__title {
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    &__desc {
        font-size: 1.4rem;
    }

}