@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

// variables
:root {
    // primary
    --prVeryDarkMagenta: hsl(300, 43%, 22%);
    --prSoftPink: hsl(333, 80%, 67%);
    // neutral
    --darkGrayishMagenta: hsl(303, 10%, 53%);
    --lightGrayishMagenta: hsl(300, 24%, 96%);
}

// mixins 
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 1.5rem;
    @include flex-center();
    min-height: 100vh;
}

.container {
    max-width: 35rem;
}

.grid {
    
}