@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// variables 
:root {
    --limeGreen: hsl(163, 72%, 41%);
    --brightRed: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --youtube: hsl(348, 97%, 39%);

    --darkTheme: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --veryDarkBlueBG: hsl(230, 17%, 14%);
    --veryDarkBlueTopBG: hsl( 232, 19%, 15%);
    --darkDesaturatedBlueCardBG: hsl(228, 28%, 20%);
    --desaturatedBlueText: hsl(228, 34%, 66%);

    --lightTheme: hsl(230, 22%, 74%);
    --veryPaleBlueTopBG: hsl(225, 100%, 98%);
    --lightGrayishBlueCardBg:hsl(227, 47%, 96%);
    --darkGrayishBlueText: hsl(228, 12%, 44%);
    --veryDarkBlueText: hsl(230, 17%, 14%);
}

// mixins
@mixin mediaLarge {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    min-height: 100vh;
    @include flexCenter();
}

.container {
    max-width: 35rem;
    width: 100%;
    margin: 0 auto;
}

.main {
    width: 100%;

    &__content {

    }

    &__social {

    }

    &__header {

    }

    &__header-title {
        
    }

    &__title {
        
    }

    &__subtitle {
        
    }

    &__toggle-wrapper {
        
    }

    &__toggle-title {
        
    }

    &__toggle {
        
    }

    &__btn {
        
    }

    &__cards {

    }

    &__card {

    }

    &__card-name-wrapper {

    }

    &__card-number {

    }

    &__card-followers {

    }

    &__card-change {

    }

    &__overview {

    }

    &__overview-title-wrapper {

    }

    &__overview-title {

    }

    &__overview-cards {

    }

    &__overview-card {

    }

    &__overview-card-upper {

    }

    &__overview-card-stat {

    }

    &__overview-card-img {

    }

    &__overview-card-bottom {

    }

    &__overview-card-number {

    }

    &__overview-card-percentage {
        
    }
}