@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// variables 
:root {
    --prCyan: hsl(179, 62%, 43%);
    --prYellow: hsl(71, 73%, 54%);
    --gray: hsl(204, 43%, 93%);
    --blue: hsl(218, 22%, 67%);
}

// mixins 
@mixin media-large {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
// layout
body {
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif;
    background-color: var(--gray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    // background-color: rgba(0, 0, 0, .5);
    margin: 0 auto;
    max-width: 35rem;
    @include media-large() {
        max-width: 70rem;
    }
}

.main {
    margin: 3rem 0;

    &__grid {
        border-radius: .5rem;
        overflow: hidden;

        @include media-large() {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__card {
        padding: 2rem;
        &-join-title {
            color: var(--prCyan)
        }

        &-join-yellow {
            color: var(--prYellow);
            font-weight: 700;
            margin: 2rem 0;
        }

        &-join-desc {
            color: var(--blue);
            @include media-large() {
                width: 90%;
            }
        }

        &-common-title {
            color: white;
            margin-bottom: 2rem;
        }

        &-price {
            display: flex;
            align-items: center;
            color: var(--blue);
        }

        &-month-desc {
            color: var(--gray);
            margin: 1rem 0;
        }

        &-list {
            color: var(--gray);
            font-size: 1.4rem;
            line-height: 1.6;
        }

        @include media-large() {
            padding: 4rem;
        }
    }

    &__btn {
        background-color: var(--prYellow);
        border-radius: 1rem;
        box-shadow: 1px 3px 13px rgba(0, 0, 0, 0.3);
        color: white;
        display: block;
        font-weight: 700;
        margin-top: 3rem;
        padding: 1.5rem 0;
        text-decoration: none;
        text-align: center;
        transition: transform .1s;
        &:active {
            transform: translateY(2px);
        }
    }
}

.join {
    background-color: white;
    line-height: 1.4;
    @include media-large() {
        grid-column: 1/3;
    }
}

.month {
    background-color: var(--prCyan);
}

.why {
    background: rgba(42, 178, 175, .8);
}

.accent {
    font-size: 3rem;
    color: white;
    margin-right: 1rem;
}

li {
    list-style: none;
}