@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

// variables
:root {
    --introAndMailSignUpBG: hsl(217, 28%, 15%);
    --mainBG: hsl(218, 28%, 13%);
    --footerBG: hsl(216, 53%, 9%);
    --testimBG: hsl(219, 30%, 18%);

    --cyanCallToAction: hsl(176, 68%, 64%);
    --blueCallToAction: hsl(198, 60%, 50%);
    --lightRed: hsl(0, 100%, 63%);
}

// mixins
@mixin media-large {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

body {
    color: white;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--mainBG);
}

.container {
    @include media-large() {
        max-width: 120rem;
    }
    max-width: 35rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.header {
    @include media-large() {
        background: url('../images/bg-curvy-desktop.svg');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        background-color: var(--introAndMailSignUpBG);
    }
    position: relative;
    padding-top: 3rem;
    background: url('../images/bg-curvy-mobile.svg');
    background-repeat: no-repeat;
    background-position: center bottom 20rem;
    background-color: var(--introAndMailSignUpBG);
    &::before {
        @include media-large() {
            display: none;
        }
        content: '';
        position: absolute;
        right: 0;
        left: 0%;
        bottom: 0;
        height: 20rem;
        background-color: var(--mainBG);
    }

    &__content {
        position: relative;
        z-index: 10;
        text-align: center;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        max-height: 3rem;
    }

    &__list {
        display: flex;
    }

    &__item {
        opacity: 0.8;
        transition: opacity 0.3s;
        &:hover {
            opacity: 1;
        }
        & + & {
            @include media-large() {
                margin-left: 6rem;
            }
            margin-left: 2rem;
        }
    }

    &__main {
        margin-top: 5rem;
    }

    &__img {
        @include media-large() {
            max-width: 50rem;
        }
        margin: 0 auto;
    }

    &__title {
        font-size: 2.6rem;
        max-width: 50rem;
        margin: 0 auto;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    &__desc {
        margin: 0 auto;
        margin-bottom: 3rem;
        max-width: 45rem;
    }

    &__btn {
        max-width: 25rem;
        margin: 0 auto;
    }
}

.cards {
    margin: 10rem 0;

    &__content {
        display: grid;
        gap: 7rem;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        @include media-large() {
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
            gap: 0;
            row-gap: 7rem;
        }
    }

    &__card {
        max-width: 35rem;
    }

    &__img {
        margin: 0 auto;
    }

    &__title {
        font-size: 2rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    &__desc {
    }
}

.productive {
    margin-bottom: 10rem;
    &__content {
        @include media-large() {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5rem;
        }
    }

    &__left {
    }

    &__img {
    }

    &__right {
        @include media-large() {
            margin-top: 0;
            align-self: center;
        }
        margin-top: 5rem;
    }

    &__title {
        @include media-large() {
            font-size: 4rem;
            width: 70%;
        }
        font-size: 1.8rem;
    }

    &__desc {
        margin-top: 1rem;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        margin-top: 2rem;
        padding-bottom: 0.5rem;
        color: var(--cyanCallToAction);
        font-family: 'Raleway', sans-serif;
        border-bottom: 1px solid var(--cyanCallToAction);
        transition: all 0.5s;
        &:hover {
            color: white;
            border-color: white;
        }
    }

    .arrow {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 0.7rem;
        background: url('../images/icon-arrow.svg');
        background-position: center;
        border-radius: 50%;
    }
}

.reviews {
    &__grid {
        position: relative;
        display: grid;
        gap: 3rem;
        &::before {
            content: '';
            position: absolute;
            top: -2rem;
            left: 1rem;
            z-index: -10;
            width: 3rem;
            height: 3rem;
            background-image: url('../images/bg-quotes.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__card {
        padding: 3rem 2rem;
        border-radius: 1rem;
        background-color: var(--testimBG);
    }

    &__desc {
        line-height: 1.7;
        font-size: 1.3rem;
    }

    &__profile-wrapper {
        display: flex;
        align-items: center;
        margin-top: 2rem;
    }

    &__profile-img {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
    }

    &__profile-info {
        margin-left: 1rem;
    }

    &__profile-name {
        font-weight: 600;
        letter-spacing: 1px;
    }

    &__profile-job {
        font-size: 1.2rem;
        opacity: 0.8;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: block;
    padding: 2rem 3rem;
    font-weight: 700;
    background-color: var(--cyanCallToAction);
    border-radius: 3rem;

    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.8;
}
