@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

// variables
:root {
    --introAndMailSignUpBG: hsl(217, 28%, 15%);
    --mainBG: hsl(218, 28%, 13%);
    --footerBG: hsl(216, 53%, 9%);
    --testimBG: hsl(219, 30%, 18%);

    --cyanCallToAction: hsl(176, 68%, 64%);
    --blueCallToAction: hsl(198, 60%, 50%);
    --lightRed: hsl(0, 100%, 63%);
}

// mixins
@mixin media-large {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

body {
    color: white;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--mainBG);
}

.container {
    max-width: 35rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.header {
    position: relative;
    background: url("../images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-position: center bottom 20rem;
    &::before {
        content: '';
        position: absolute;
        right: 0;
        left: 0%;
        bottom: 0;
        height: 20rem;
        background-color: var(--mainBG);
    }

    background-color: var(--introAndMailSignUpBG);
    padding-top: 3rem;
    &__content {
        position: relative;
        z-index: 10;
        text-align: center;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        max-height: 3rem;
    }

    &__list {
        display: flex;
    }

    &__item {
        opacity: .8;
        transition: opacity .3s;
        &:hover {
            opacity: 1;
        }
        & + & {
            margin-left: 2rem;
        }
    }

    &__main {
        margin-top: 5rem;
    }

    &__img {

    }

    &__title {
        margin-top: 5rem;
        margin-bottom: 3rem;
        font-size: 2.6rem;
    }

    &__desc {
        margin-bottom: 3rem;
    }

    &__btn {
        max-width: 25rem;
        margin: 0 auto;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: block;
    padding: 2rem 3rem;
    font-weight: 700;
    background-color: var(--cyanCallToAction);
    border-radius: 3rem;

    transition: opacity .3s;
}

.btn:hover {
    opacity: .8;
}