@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

// variables
:root {
    --prViolet: hsl(256, 26%, 20%);
    --prGrayishBlue: hsl(216, 30%, 68%);

    --veryDarkViolet: hsl(270, 9%, 17%);
    --darkGrayishViolet: hsl(273, 4%, 51%);
    --lightGray: hsl(0, 0%, 98%);
}

// mixins
@mixin mediaLarge {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 37.5rem;
    margin: 0 auto;
    @include mediaLarge() {
        max-width: 120rem;
    }
}

.header {
    padding: 0 3rem;
    height: 8rem;
    // background-color: red;
    display: flex;
    align-items: center;
    position: relative;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
    }

    &__toggle-wrapper {
        display: flex;
        position: relative;
        @include mediaLarge() {
            display: none;
        }
    }

    &__hamburger {
        position: absolute;
        transition: opacity 0.5s;
    }

    &__close {
    }
}

body.nav-btn {
    .header__hamburger {
        opacity: 0;
    }

    .mobile-nav-list {
        transform: translateY(0);
    }
}

.mobile-nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 3rem;
    padding-top: 4rem;
    top: 8rem;
    height: calc(100vh - 8rem);
    width: 100%;
    background: url('../images/bg-pattern-mobile-nav.svg');
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-size: contain;
    background-color: var(--veryDarkViolet);
    transform: translateY(-150%);
    transition: transform 0.5s;
    z-index: 10;

    @include mediaLarge() {
        display: none;
    }
}

.mobile-nav-item {
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    a {
        text-decoration: none;
        color: white;
        width: 100%;
        font-size: 2rem;
    }

    &:last-child {
        border: 3px solid white;
        padding: 2rem;
    }

    & + & {
        margin-top: 3rem;
    }
}

.desktop-nav {
    &-list {
        display: none;
        @include mediaLarge() {
            display: flex;
            align-items: center;
        }
    }

    &-item {
        text-transform: uppercase;
        & + & {
            margin-left: 2rem;
        }
        a {
            color: var(--darkGrayishViolet);
        }

        &:last-child {
            border: 1px solid var(--veryDarkViolet);
            padding: 0.8rem 2rem;
            font-weight: 700;
        }
    }
}

a {
    text-decoration: none;
}

.hero {
    &__desktop {
        display: none;
        @include mediaLarge() {
            position: absolute;
            display: block;
            right: 0;
            z-index: 0;
            top: 20%;
        }
    }
    @include mediaLarge() {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 30rem;
    }

    &__bg-desktop {
        display: none;
        @include mediaLarge() {
            display: block;
            position: absolute;
            z-index: 10;
            width: 25%;
        }
    }

    &__img img {
        @include mediaLarge() {
            display: none;
        }
        margin: 0 auto;
    }
    background-color: var(--veryDarkViolet);

    position: relative;
    width: 100%;
    &__content {
        padding: 8rem 3rem;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        background: url('../images/bg-pattern-intro-left-mobile.svg');
        background-position: left top;
        background-repeat: no-repeat;

        @include mediaLarge() {
            text-align: left;
            align-items: flex-start;
            padding: 0;
            padding-top: 20rem;
            padding-bottom: 16rem;
            background: none;
        }
    }

    &__title {
        font-size: 4rem;
        line-height: 1;
        letter-spacing: 2px;
        margin-bottom: 1.5rem;
        @include mediaLarge() {
            text-align: left;
            width: 40%;
            font-size: 5rem;
            position: relative;

            &::before {
                content: '';
                width: 15rem;
                height: 2px;
                position: absolute;
                background-color: var(--prGrayishBlue);
                top: -6rem;
            }
        }
    }

    &__desc {
        line-height: 1.6;
        opacity: 0.8;
        @include mediaLarge() {
            width: 45%;
        }
    }
    .mobile-bg-pattern-right {
        position: absolute;
        right: 0;
        top: 33rem;
        @include mediaLarge() {
            display: none;
        }
    }
}

.different {
    margin-top: 16rem;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        width: 16rem;
        height: 2px;
        background-color: var(--darkGrayishViolet);
        top: -3rem;
        left: 53%;
        transform: translateX(-50%);
        position: absolute;

        @include mediaLarge() {
            display: none;
        }
    }
    &__content {
        padding: 0 3rem;

        @include mediaLarge() {
            position: relative;
            padding: 0;
            &::before {
                content: '';
                width: 16rem;
                height: 2px;
                background-color: var(--darkGrayishViolet);
                top: -4rem;
                position: absolute;
                left: 0;
            }
        }
    }

    &__title {
        font-size: 4rem;
        line-height: 1;
        letter-spacing: 2px;
        margin-bottom: 1.5rem;
        @include mediaLarge() {
            text-align: left;
        }
    }

    &__cards {
        margin-top: 5rem;
        @include mediaLarge() {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mediaLarge() {
            text-align: left;
            width: 30%;
            align-items: start;
        }

        & + & {
            margin-top: 4rem;

            @include mediaLarge() {
                margin-top: 0;
            }
        }
    }

    &__card-title {
        margin-top: 3rem;
    }

    &__card-desc {
        line-height: 1.6;
        margin-top: 1rem;
    }
}

.find {
    padding: 3rem;

    &__content {
        color: white;
        text-align: center;
        padding: 5rem 3rem;
        background: url('../images/bg-pattern-how-we-work-mobile.svg');
        background-repeat: no-repeat;
        background-position: right 0;
        background-color: var(--veryDarkViolet);
        @include mediaLarge() {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 6rem;
            background: url('../images/bg-pattern-how-we-work-desktop.svg');
            background-repeat: no-repeat;
            background-position: right 0;
            background-color: var(--veryDarkViolet);
        }
    }

    &__title {
        font-size: 4rem;
        line-height: 1;
        letter-spacing: 2px;
        margin-bottom: 1.5rem;
        @include mediaLarge() {
            width: 36%;
            text-align: left;
        }
    }

    .btn {
        @include mediaLarge() {
            align-self: start;
        }
    }

    @include mediaLarge() {
        margin-top: 8rem;
    }
}

.footer {
    margin-top: 5rem;
    background: url('../images/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
    background-color: var(--lightGray);

    @include mediaLarge() {
        background: url('../images/bg-pattern-footer-desktop.svg');
        background-repeat: no-repeat;
        background-color: var(--lightGray);
    }
    &__content {
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mediaLarge() {
            
        }
    }

    &__insure {
        margin-bottom: 3rem;
        margin-top: 4rem;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
        width: calc(100vw - 6rem);
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mediaLarge() {
            flex-direction: row;
            align-items: center;
            margin-top: 0;
            padding: 3rem;
            justify-content: space-between;
            max-width: 120rem;
        }
    }

    &__icons {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 4rem;

        @include mediaLarge() {
            margin: 0;
        }
    }

    &__icon {
        & + & {
            margin-left: 1rem;
        }
    }

    &__cards {

        @include mediaLarge() {
            display: flex;
            align-self: start;
        }
    }

    &__card {
        text-transform: uppercase;
        font-weight: 1.4rem;
        text-align: center;
        font-size: 1.4rem;
        &-title {
            margin-bottom: 3rem;
            letter-spacing: 2px;
            font-weight: 700;
            font-family: Karla;
            color: var(--darkGrayishViolet);
        }

        &-list {
        }

        &-item {
            font-weight: 700;
            & + & {
                margin-top: 1rem;
            }
        }

        & + & {
            margin-top: 3rem;

            @include mediaLarge() {
                margin-top: 0;
                margin-left: 15rem;
            }
        }
        @include mediaLarge{
            text-align: left;
        }
    }
}

.btn {
    margin-top: 2rem;
    padding: 1rem 3rem;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

li {
    list-style: none;
}
