@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

// variables
:root {
    --prVeryDarkBlue: hsl(243, 87%, 12%);
    --prDesaturatedBlue: hsl(238, 22%, 44%);
    --accentBlue: hsl(224, 93%, 52%);
    --accentCyan: hsl(170, 45%, 43%);
    --lightGrayishBlue: hsl(240, 75%, 98%);
    --lightGray: hsl(0, 0%, 75%);
}

// mixins
@mixin media-large {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

.container {
    width: 100%;
    max-width: 35rem;
    margin: 0 auto;
    padding: 1rem;
}

.header {
    padding-top: 2rem;
    &__content {
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        max-height: 3rem;
    }

    &__list {
        display: flex;
    }

    &__item {
        & + & {
            margin-left: 2rem;
        }

        font-size: 1.2rem;
    }

    &__grid {
        margin-top: 7rem;
    }

    &__img {
    }

    &__grid-item-wrapper {
        text-align: center;
    }

    &__title {
        margin: 3rem 0;
        font-size: 2.5rem;
    }

    &__desc {
    }

    &__form {
        margin-top: 3rem;
        padding: 0 2rem;
    }

    &__email {
        display: block;
        padding: 1rem 2rem;
        width: 100%;
        font-size: 1.4rem;
    }

    &__btn {
        width: 100%;
        margin-top: 1rem;
    }
}

.btn {  
    display: block;
    padding: 1rem 0;
    border-radius: 3px;
    color: white;
    font-weight: 700;
    background-color: var(--accentBlue);
}
