@import "reset";

// variables
:root {
    --prVeryDarkBlue: hsl(243, 87%, 12%);
    --prDesaturatedBlue: hsl(238, 22%, 44%);
    --accentBlue: hsl(224, 93%, 52%);
    --accentCyan: hsl(170, 45%, 43%);
    --lightGrayishBlue: hsl(240, 75%, 98%);
    --lightGray: hsl(0, 0%, 75%)
}

// mixins 
@mixin media-large {
    @media screen and (min-width: 1200px) {
        @content;
    }
}