@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

// variables 
:root {
    --prStrongCyan: hsl(171, 66%, 44%);
    --prLightBlue: hsl(233, 100%, 69%);
    --darkGrayishBlue: hsl(210, 10%, 33%);
    --grayishBlue: hsl(201, 11%, 66%);
}

// mixins 
@mixin media-large {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.8rem;
}

.container {
    @include media-large() {
        max-width: 120rem;
    }

    margin: 0 auto;
    max-width: 35rem;
    width: 100%;
    padding: 0 1rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--darkGrayishBlue);
}

.second-title {
    @include media-large() {
        font-size: 3.5rem;
    }
}

.desc {
    color: var(--grayishBlue);
}

.btn {
    @include media-large() {
        width: 23rem;
    }
    padding: 1.5rem 0;
    width: 100%;
    border-radius: 3rem;
    outline: 0;
    border: 0;
    color: white;
    cursor: pointer;
    transition: transform .1s;
    max-width: 33rem;
    & + & {
        margin-top: 2rem;

        @include media-large() {
            margin-top: 0;
            margin-left: 1.5rem;
        }
    }

    &:hover {
        opacity: .8;
    }

    &:active {
        transform: translateY(2px);
    }
}

.btn-green {
    background-color: var(--prStrongCyan);
}

.btn-purple {
    background-color: var(--prLightBlue);
}

.btn-wrapper {
    @include media-large() {
        display: flex;
    }
}

// header
.header {
    @include media-large() {
        background: url("../images/bg-header-desktop.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    padding-top: 8rem;

    background: url("../images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-position: center 0;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__logo {
        width: 8rem;
    }

    &__title {
        margin-top: 5rem;
        margin-bottom: 2rem;
        font-size: 3.1rem;
    }

    &__desc {
        @include media-large() {
            width: 55%;
        }
        margin-bottom: 4rem;
    }
}

.snippets {
    margin-top: 15rem;
    &__content {
        text-align: center;
        @include media-large() {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__desc {
        @include media-large() {
            width: 55%;
        }
    }
}

.display {
    margin-top: 7rem;
    margin-bottom: 15rem;
    &__content {
        @include media-large() {
            display: flex;
            position: relative;
        }
        text-align: center;
    }

    &__img {
        @include media-large() {
            position: relative;
            left: -20rem;
        }
        margin-bottom: 5rem;
    }

    &__list {
        @include media-large() {
            position: relative;
            left: -10rem;
            text-align: left;
        }
    }

    &__item {

        p {
            margin-top: 1rem;
        }
    }

    &__item-title {
        margin-top: 3rem;
    }

    .desc {

    }
}

.access {

    &__content {
        text-align: center;
        @include media-large() {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__desc {
        margin-bottom: 5rem;
        @include media-large() {
            width: 60%;
        }
    }

    &__img {

    }

}

.charge {
    margin-top: 15rem;
    &__content {
        text-align: center;
    }

    &__upper {
        margin-bottom: 7rem;
    }

    &__upper-title {
        margin-bottom: 1rem;
    }

    &__upper-desc {

    }

    &__list {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        @include media-large(){
            display: flex;
        }
    }

    &__item {
        flex: 1;
        & + & {
            margin-top: 5rem;
            @include media-large() {
                margin-top: 0;
                margin-left: 2rem;
            }
        }
    }

    &__item-img {
        @include media-large() {
            width: 3.2rem;
        }
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    &__item-title {
        margin-bottom: 2rem;
    }
    
}

.companies {
    @include media-large() {
        margin-top: 15rem;
    }
    margin-top: 10rem;
    margin-bottom: 20rem;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media-large() {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__img {
        & + & {
            @include media-large() {
                margin-top: 0;
            }
            margin-top: 5rem;
        }
    }
}

.clipboard {
    margin-bottom: 15rem;
    &__content {
        @include media-large() {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        text-align: center;
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__desc {
        @include media-large() {
            width: 55%;
        }
        margin-bottom: 5rem;
    }

}

.footer {
    background-color: rgba($color: gray, $alpha: .09);
    &__content {
        @include media-large() {
            flex-direction: row;
            justify-content: space-between;
        }
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 4rem 0;
    }  

    &__logo {
        width: 3rem;
    }

    &__list {
        @include media-large() {
            display: flex;
            margin-top: 0;
        }
        margin-top: 3rem;
    }

    &__item {
        @include media-large() {
            align-items: start;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        & + & {
            @include media-large() {
                margin-top: 0;
                margin-left: 10rem;
            }
            margin-top: 2rem;
        }
    }

    &__link {
        color: var(--darkGrayishBlue);
        text-decoration: none;

        & + & {
            margin-top: 2rem;
        }
    }

    &__icons {
        @include media-large() {
            margin-top: 0;
        }
        display: flex;
        margin-top: 3rem;
    }

    &__icon {
        & + & {
            margin-left: 2rem;
        }
        a {
            color: var(--darkGrayishBlue);
        }
    }
}

a {
    transition: color .5s;
}

a:hover {
    color: var(--prStrongCyan);
}

li {
    list-style: none;
}

